<%= simple_form_for @qanda, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> &gt; Q&A</legend>

    <%= f.association :user, 
                      :label => "Email",
                      :collection => User.find(current_user),
                      :label_method => lambda { |u| "#{u.email}" },
                      :selected => current_user.id,
                      :readonly => true
    %>
    <%= f.input :qa_q,
                :label => "คำถาม",
                :as => :text,
                :input_html => { :rows => 5, :style => "width:500px" }
     %>
     <% if current_user.role == 'admin' %>
       <%= f.input :qa_a,
                :label => "คำตอบ",
                :as => :text,
                :input_html => { :rows => 5, :style => "width:500px" }
       %>
       <%= f.input :qa_status,
                   :as => :select,
                   :collection => ['unassigned','consulting', 'answered'],
                   :label => "สถานะ"
       %>
       <%= f.input :qa_consultant,
                   :label => "ปรึกษาผู้เชี่ยวชาญ",
                   :collection => User.where(:role => "expert"),
                   :label_method => lambda { |u| u.fullname }
       %>
    <% else %>
      <%= f.input :qa_status,
                  :as => :hidden,
                  :input_html => { :value => 'unassigned' }
      %>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', qandas_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
