<h1>Qandas</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>สมาชิก</th>
      <th>คำถาม</th>
      <% if current_user.role == 'admin' %>
        <th>คำตอบ</th>
        <th>สถานะ</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @qandas.each do |qanda| %>
      <tr class="<%= qanda.qa_status %>">
        <td><%= qanda.id %></td>
        <td><%= link_to qanda.user.email, qanda_path(qanda.id) %></td>
        <td><%= qanda.qa_q %></td>
        <% if current_user.role == 'admin' %>
          <td><%= qanda.qa_a %></td>
          <td><%= qanda.qa_status %></td>
        <% end %>
        <td>
          <% if qanda.qa_status == 'answered' %>
            <% faq_id = Faq.find_by_sql("SELECT id FROM faqs WHERE faq_q = '#{qanda.qa_q}'") %>
            <%= link_to 'See FAQs', faq_path(faq_id), :class => 'btn btn-mini' %>
          <% else %>
            <%= link_to 'Edit', edit_qanda_path(qanda), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', qanda_path(qanda), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_qanda_path, :class => 'btn btn-primary' %>
