<%= simple_form_for @faq, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Faq</legend>

    <%= f.input :faq_item %>
    <%= f.input :faq_q,
                :as => :text,
                :input_html => { :rows => 5, :style => "width:500px" }
    %>
    <%= f.input :faq_a,
                :as => :text,
                :input_html => { :rows => 5, :style => "width:500px" }
    %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', faqs_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
