<h1>Frequently Asked Questions (FAQs)</h1>

<%= paginate @faqs %>
<p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>สาขา</th>
      <th>คำถาม</th>
      <th>คำตอบ</th>
      <% if admin? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= link_to faq.id, faq_path(faq) %></td>
        <td><%= faq.specialty.sp_name %></td>
        <td><%= faq.faq_q %></td>
        <td><%= faq.faq_a %></td>
        <% if admin? %>
          <td>
          <%= link_to 'Edit', edit_faq_path(faq), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', faq_path(faq), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%# link_to 'New', new_faq_path, :class => 'btn btn-primary' %>
