<h1>คำถามที่พบบ่อย (FAQs)</h1>
<p></p>

<% if current_user %>
<h4>
  <font color='white' style='background-color:yellow'>
    <%= button_to 'ถามคำถามใหม่', new_qanda_path, :method => 'get' %>
  </font>
</h4>
<% end %>

<%= paginate @faqs %>
<p>
<table class="table table-striped">
  <thead>
    <tr>
      <th width='5%'>ID</th>
      <th width='10%'>สาขา</th>
      <th width='50%'>คำถาม</th>
      <th width='35%'>คำตอบ</th>
      <% if admin? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= link_to faq.id, faq_path(faq) %></td>
        <td><%= faq.specialty.sp_name %></td>
        <% if params[:q] %>
          <td><%= raw hili(faq.faq_q,params[:q]) %></td>
        <% else %>
          <td><%= faq.faq_q %></td>
        <% end %>
        <% if params[:q] %>
          <td><%= raw hili(faq.faq_a,params[:q]) %></td>
        <% else %>
          <td><%= faq.faq_a %></td>
        <% end %>
        <% if admin? %>
          <td>
          <%= link_to 'Edit', edit_faq_path(faq), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', faq_path(faq), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%# link_to 'New', new_faq_path, :class => 'btn btn-primary' %>
