<%= simple_form_for(@specialty) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :sp_code %>
    <%= f.input :sp_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
